<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

	{{ partial "head.html" . }}

	<body class="h-screen bg-gray-100 text-gray-700 flex flex-col items-center overflow-x-hidden">

		{{ partial "header.html" . }}

		{{ block "main" . }}

		{{ end }}

		{{ partial "footer.html" . }}



		<script src="{{ .Site.Home.RelPermalink }}js/loading-attribute-polyfill.min.js"></script>

    {{ if .IsHome }}

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

      <script> AOS.init(); </script>

    {{ end }}

	</body>

</html>
