{{ define "main" }}

  <div style="visibility: hidden" class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center special">
    <img class="special" src="" width="640" height="640">
  </div>

  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">

    {{ range .Pages }}

      <article class="max-w-xs mx-auto">

        <img class="shadow rounded" src="/portfolio/the-starry-night.jpg" width="320" height="320">

        <h3>{{ .Title }}</h3>

        {{ range .Params.tags }}

          <a href="/portfolio/tag/{{ anchorize . }}/">{{ . }}</a>

        {{ end }}

      </article>

    {{ end }}

  </div>

  <script src="/main.js"></script>

{{ end }}
