{{ define "main" }}

	<main class="flex-grow absolute top-o left-o w-full bg-black h-full text-white flex flex-col justify-center">

		<a class="self-end" href="/portfolio/#{{ anchorize .Title }}">X</a>

		<div class="max-w-screen-md mx-auto">
			<img src="/portfolio/the-starry-night.jpg">
			<p>{{ .Title }}</p>
			<ul class="flex flex-wrap">
			{{ range .Params.tags }}
				<li class="mr-1"><a href="/portfolio/tag/{{ anchorize . }}/">#{{ . }}</a></li>
			{{ end }}
			</ul>
		</div>
	
	</main>

  <script>
    const main = document.querySelector("main"),
      url = "http://localhost:1313/portfolio/#{{ anchorize .Title }}";

    main.addEventListener("click", event => {
      if (event.target.tagName !== "IMG" || event.target.tagName !== "A"){
        window.location.href = url;
      };
    });

    window.addEventListener("keydown", event => {
      if (event.key === "Escape"){
        event.preventDefault();
        window.location.href = url;
      };
    });
  </script>

{{ end }}
