@tailwind base;

@tailwind components;

@tailwind utilities;

.p {
	@apply text-xs text-gray-500 bg-gray-500 shadow
}

a.nav:hover div, a.nav:focus div {
	width: 100%;
}

img.modal {
	transition: transform 300ms, opacity 500ms;
}

.bg-black-opacity-75 {
	background-color: rgba(0, 0, 0, .75);
}

.h-screen-minus {
	height: calc(100vh - 2rem);
}
