@tailwind base;

@tailwind components;

@tailwind utilities;

.p {
	@apply text-xs text-gray-500 bg-gray-500 shadow
}

.bg-black-opacity-75 {
  background-color: rgba(0,0,0,.75);
}

.grid-custom-1-cols-2 {
	grid-template-columns: minmax(0, .25fr) minmax(0, 1.75fr);
}

.grid-custom-2-cols-2 {
	grid-template-columns: minmax(0, .75fr) minmax(0, 1.25fr);
}
