<footer class="flex-shrink text-center py-2">
	<ul class="max-w-screen-lg mx-auto flex justify-between items-center">

		<li><a href="/">Portfolio - {{ now.Year }}</a></li>

		<div class="flex">

			<li class="mx-4"><a href="#"><img class="w-4 h-4 opacity-50 hover:opacity-100" src="/facebook.svg"></a></li>
			<li class="mr-4"><a href="#"><img class="w-4 h-4 opacity-50 hover:opacity-100" src="/instagram.svg"></a></li>
			<li><a href="#"><img class="w-4 h-4 opacity-50 hover:opacity-100" src="/twitter.svg"></a></li>

		</div>

	</ul>
</footer>
