<header class="mb-4 py-2">

	<nav>

		<ul class="flex justify-center items-center">

			<li class="mr-24">

				<a class="p-4 block nav" href="{{ .Site.Home.RelPermalink }}">Home

					<div class="{{ if .IsHome }} w-full {{ else }} w-0 {{ end }} h-1 bg-gray-500 transition-width ease-in-out duration-500"></div>

				</a>

			</li>

			<li class="ml-2">

				<a class="p-4 block nav" href="{{ .Site.Home.RelPermalink }}portfolio/">Portfolio

					<div class="{{ if not .IsHome }} w-full {{ else }} w-0 {{ end }} h-1 bg-gray-500 transition-width ease-in-out duration-500"></div>

				</a>

			</li>

		</ul>

	</nav>

</header>
