{{ define "main" }}
	
	<main class="max-w-screen-lg flex-grow">

		<div class="h-full flex flex-wrap justify-center lg:justify-between">



			{{/* START personal information section. */}}

			<section class="max-w-xs mx-auto sm:max-w-md sm:mx-0 flex items-center"> 

				<div>

					<picture>

						<source srcset="/webp/armando-reveron.webp" type="image/webp">

						<img class="mx-auto rounded-full shadow" src="/jpg/armando-reveron.jpg" alt="White and black portrait of Armando Reverón using a top hat." type="image/jpeg" width="128" height="140">

					</picture>

					<h3 class="mt-2 text-lg text-center">Armando Reverón</h3>

					<div class="mx-4 mt-2 mb-16">

						<p class="pl-2 border-l-4 border-transparent text-sm">Venezuelan painter and sculptor.</p>

						<p class="mt-10 pl-2 text-justify border-l-4 border-gray-500">While his mental health deteriorated throughout his life, his artistic abilities remained.</p>

					</div>

				</div>

			</section>

			{{/* END personal information section. */}}



			{{/* START work features. */}}

			<section class="w-full max-w-xs mx-auto sm:max-w-md sm:mx-0">

				<article class="mb-10 flex flex-wrap justify-between bg-white shadow items-center">

					<picture>

						<source srcset="/webp/cocoteros-en-la-playa-320.webp" type="image/webp">

						<img class="max-w-xs sm:w-48 sm:h-40 shadow" src="/jpg/cocoteros-en-la-playa-320.jpg" alt="Light color painting showing coconut trees on the beach.">

					</picture>


					<p class="m-8 sm:w-48 mx-auto">Subtle play of light and shadows.</p>

				</article>

				<article class="mb-10 flex flex-wrap justify-between bg-white shadow items-center">

					<picture>

						<source srcset="/webp/la-cueva-320.webp" type="image/webp">

						<img class="max-w-xs sm:w-48 sm:h-40 shadow" src="/jpg/la-cueva-320.jpg" alt="Painting about two naked women lying in a cave.">

					</picture>

					<p class="m-8 sm:w-48 mx-auto sm:order-first">Sensual and mysterious atmospheres.</p>

				</article>

				<article class="flex flex-wrap justify-between bg-white shadow items-center">

					<picture>

						<source srcset="/webp/amanecer-desde-punta-brisas-320.webp" type="image/webp">

						<img class="max-w-xs sm:w-48 sm:h-40 shadow" src="/jpg/amanecer-desde-punta-brisas-320.jpg" alt="Painting showing the sunrise from Punta Brisas.">

					</picture>

					<p class="m-8 sm:w-48 mx-auto">Obsessive interest in light.</p>

				</article>

			</section>

			{{/* END work features. */}}



			{{/* START quote. */}}

			<section class="my-32 w-full mx-auto sm:mx-0 max-w-xs sm:max-w-none items-center bg-gray-300 flex flex-wrap">

				<div class="flex-grow">

					<blockquote class="p-4 max-w-sm md:text-xl mx-auto relative z-10">

						<p><img class="mb-6 mr-1 inline transform rotate-180" src="/svg/quote.svg" alt="Quote icon" width="24" height="24">I came here to find simplicity</p>

						<p class="-ml-8 text-center">and</p>

						<p class="text-right">I found reality.<img class="mb-4 ml-1 inline" src="/svg/quote.svg" alt="Quote icon" width="24" height="24"></p>

					</blockquote>

				</div>

				<div class="h-64 w-full mx-auto max-w-xs order-first sm:order-none relative">

					<picture>

						<noscript class="loading-lazy">

							<source srcset="/webp/armando-reveron-painting.webp" type="image/webp">

							<img class="w-full sm:mx-0 max-w-xs" src="/jpg/armando-reveron-painting.jpg" alt="Armando Reverón painting in front of a mirror." loading="lazy" type="image/jpeg" width="320" height="240">

						</noscript>

					</picture>

					<svg class="top-0 w-40 h-64 hidden sm:block absolute fill-current text-gray-300" style="right: 240px" preserveAspectRatio="none" viewBox="0 0 100 100">

						<polygon points="50,0 100,0 50,100 0,100">

					</svg>

				</div>

			</section>

			{{/* END quote. */}}



			{{/* START portfolio link. */}}

			<section class="mb-12 w-full text-center">

				<p>Want to see more?</p>

				<a class="mt-2 p-4 opacity-75 inline-block hover:opacity-100 transition-opacity ease-linear duration-300" href="/portfolio/"><span class="p-2 bg-gray-700 rounded shadow text-gray-100 font-bold">Portfolio</span></a>

			</section>

			{{/* END portfolio link. */}}



		</div>

	</main>

{{ end }}
