{{ define "main" }}
	
	<main class="px-2 max-w-screen-lg flex-grow">

		<div class="h-full flex flex-wrap justify-between">



			{{/* START personal information section. */}}

			<section class="mx-auto max-w-md flex items-center"> 

				<div>

					<img class="w-32 h-32 mx-auto rounded-full" src="https://via.placeholder.com/320x240/CBD5E0/A0AEC0?text=λ">

					<h3 class="my-2 text-center">Armando Reverón</h3>

					<p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lectus massa, auctor in elit eget, tristique tempor est. Curabitur consequat quam sit amet dapibus pulvinar. Sed luctus non lacus id posuere. Donec eu augue blandit, euismod turpis sed, tempus metus. Pellentesque tincidunt et augue nec fringilla.</p>

				</div>

			</section>

			{{/* END personal information section. */}}



			{{/* START work features. */}}

			<section class="mx-auto max-w-md w-full">

				<article class="mb-8 flex flex-wrap justify-between bg-white shadow">
					<img class="w-full sm:w-40 shadow" src="https://via.placeholder.com/320x240/CBD5E0/A0AEC0?text=λ">
					<p class="m-4 sm:w-64">Vestibulum dapibus ipsum ac lorem semper iaculis. Ut ultrices velit sem, nec euismod risus placerat eget. Integer iaculis augue dolor, et eleifend libero vulputate sit amet. In gravida mollis semper.</p>
				</article>

				<article class="mb-8 flex flex-wrap justify-between bg-white shadow">
					<img class="w-full sm:w-40 shadow" src="https://via.placeholder.com/320x240/CBD5E0/A0AEC0?text=λ">
					<p class="m-4 sm:w-64 sm:order-first">Vestibulum dapibus ipsum ac lorem semper iaculis. Ut ultrices velit sem, nec euismod risus placerat eget. Integer iaculis augue dolor, et eleifend libero vulputate sit amet. In gravida mollis semper.</p>
				</article>

				<article class="flex flex-wrap justify-between bg-white shadow">
					<img class="w-full sm:w-40 shadow" src="https://via.placeholder.com/320x240/CBD5E0/A0AEC0?text=λ">
					<p class="m-4 sm:w-64">Vestibulum dapibus ipsum ac lorem semper iaculis. Ut ultrices velit sem, nec euismod risus placerat eget. Integer iaculis augue dolor, et eleifend libero vulputate sit amet. In gravida mollis semper.</p>
				</article>

			</section>

			{{/* END work features. */}}



			{{/* START portfolio link. */}}

			<section class="my-16 w-full sm:pt-0 flex justify-center text-center">

				<div>

					<p>Wanna see more?</p>

					<a class="m-2 p-4 block opacity-75 hover:opacity-100" href="/portfolio/"><span class="p-2 bg-gray-500 rounded shadow text-gray-100 font-bold">Portfolio</span></a>

				</div>

			</section>

			{{/* END portfolio link. */}}



		</div>

	</main>

{{ end }}
